body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #0F172A;
    color: #E2E8F0;
}

a {
    text-decoration: none;
    color: #E2E8F0;
}

a:hover {
    color: #22D3EE;
}

nav {
    background-color: #1E293B;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #E2E8F0;
    font-size: 18px;
    font-weight: bold;
}

body {
    padding-top: 60px;
}

#mi-foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #22D3EE;
}

.about-me {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #E2E8F0;
    background-color: #1E293B;
    padding: 1rem 1.5rem;
    border-left: 5px solid #22D3EE;
    border-radius: 8px;
    max-width: 700px;
    margin: 2rem auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

section {
    padding: 50px 20px;
}

h1, h2 {
    color: #F1F5F9;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #E2E8F0;
    font-size: 30px;
    margin: 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #22D3EE;
}

#skills section {
    display: flex;
    justify-content: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.skill {
    background: #1E293B;
    color: #E2E8F0;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.skill a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.skill i {
    font-size: 24px;
}

.skill:hover {
    background: #334155;
    color: #45C4B0;
}

.project {
    background: #1E293B;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-links {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.project-links a {
    background-color: #13678A;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.project-links a:hover {
    background-color: #22D3EE;
}

.education {
    background: #1E293B;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #1E293B;
    color: #E2E8F0;
    padding: 15px;
}
